@media screen and (max-width: 768px) {
    ul#listRedirect {
        width: 90%;
    }
    ul#listRedirect > li.redirect {
        font-size: 110%;
    }
    svg#logo-36 {
        display: none;
    }
    footer > div#sectionsFooter {
        flex-direction: column;
    }
    footer > div#sectionsFooter > div.containerLinks {
        margin-bottom: 10%;
    }
    header#header {
        flex-direction: column;
    }
    div#heroContainer {
        width: 80vw;
        height: 50vh;
    }
    h1#bigTitle {
        font-size: 250%;
        margin-top: 15%;
    }
    p#heroDesc {
        font-size: 120%;
    }
    div.keyNumber {
        padding: 4%;
        font-size: 100%;
    }
    div#rightSide {
        width: 70%;
        margin: 5% auto 10%;
    }
    .mainTitleSection {
        font-size: 200%;
        margin-bottom: 10%;
    }
    div.rowQuality {
        display: flex;
        flex-direction: column;
        margin: 5% auto 10%;
    }
    div.textQuality {
        text-align: center;
    }
    div.imageQuality {
        display: flex;
        margin: 0 auto;
        width: 80%;
    }
    div.rowPortfolio {
        margin-top: 50%;
        flex-direction: column;
    }
    div.textPortfolio {
        width: 100%;
        margin-top: 20%;
    }
    div.textPortfolio > h1 {
        text-align: center;
    }
    div.imagePortfolio {
        width: 100%;
    }
    p.quote {
        font-size: 150%;
        width: 100%;
    }
    div.containerGauges {
        flex-direction: column;
        margin-top: 10%;
    }
    svg#svgTransition {
        display: none;
    }

    /* Prices */
    section.containerPrices {
        margin-top: 20%;
    }
    div#packages {
        flex-direction: column;
    }
    div.package {
        margin: 0 auto 10%;
        width: 80vw;
        min-height: 70vh;
    }
    div.details {
        margin: 0 auto 10%;
        width: 80%;
    }
    div.details:first-of-type {
        margin-top: 15%;
    }
}

